.item {
  margin: 6px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product {
  display: flex;
  flex-direction: column;
  margin-left: 4px;
}

.bgImage {
  background-color: rgba(253, 200, 68, 0.3);
  border-radius: 8px;
  width: 82px !important;
  height: 100px;
  padding: 10px 8px;
}

.quantity {
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.quantity p {
  margin-right: 8px;
  margin-left: 8px;
  font-size: 18px;
  font-weight: 500;
  color: #fdc844;
}

.quantity button {
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.product h4 {
  font-size: 18px;
  font-weight: 600;
}

.product button {
  border: none;
  background-color: transparent;
  font-size: 12px;
  color: #848484;
  text-decoration: underline;
  cursor: pointer;
}

.price {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 35, 51);
}

.enterLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: enterLeft 0.3s forwards;
}

@keyframes enterLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 480px) {
  .bgImage {
    width: 96px !important;
    height: 86px;
    padding: 10px 8px;
  }

  .product {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
  }

  .product h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #3e4462;
    margin-bottom: 10px;
  }

  .product h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #7e7e7e;
  }

  .price {
    font-size: 16px;
    margin-left: 16px;
  }
}

.container-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
